* {
  box-sizing: border-box;
}

.body {
  background-color: #000000;
}

.card-container {
  position: absolute;
  width: 550px;
  height: 868px;
  left: 65px;
  top: 53px;
  
  background: #23252C;
}

.profile-img {
  box-sizing: border-box;

  position: absolute;
  width: 317px;
  height: 317px;
  left: 116px;
  top: 44px;

  background: url(./src/assets/profile.jpg);
  background-position-x: -30px;
  background-position-y: -40px;
  background-repeat: no-repeat;
  border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px 10px 0px 0px;
}

.info {
  box-sizing: border-box;
  
  position: absolute;
  width: 317px;
  height: 399px;
  left: 116px;
  top: 361px;

  background: #1A1B21;

}


.title > h1 {
  /* position: absolute;
  width: 178.06px;
  height: 25.81px; */
  left: 186px;
  top: 382px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;

  color: #FFFFFF;
}